/*body {
	background: black;
}*/

h1 {
	font-family: "Belizio";
	font-weight: bold;
	text-align: center;
}
.sub-hed {
	text-align: center;
	font-weight: bold;
}
.circle-nav { 
	width: 100%; 
	height: 700px; 
	position: relative; 
	margin-bottom:50px;
	opacity: 0;
}

.circle-nav-logo {
	display: block;
	position: absolute;
	width:200px;
	height: 200px;
	opacity: 0;
    z-index: 750;
}

.circle-nav ul {
	list-style: none;
	margin:0;
}

.circle-nav .circle-nav-item {
	display: block;
	position: absolute;
	border-radius: 50%;
	width:180px;
	height:180px;
	padding: 10px;
	padding-top:5px;
	box-sizing:border-box;
	opacity: 0;
	list-style: none;
	margin:0;
	text-align: center;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    cursor:pointer;
	z-index: 1000;
}
.circle-nav .circle-nav-item .close {
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url("icons/close.png");
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    opacity: .4;
}
.circle-nav .circle-nav-item.active .close {
	display: block;
}
.circle-nav .circle-nav-item.active .close:hover {
    opacity: 1;
}
.circle-nav-item-child {
	position: relative;
	width:100%;
}
.circle-nav-item-child-item a {
	display: none;
}
.active .circle-nav-item-child a {
	display: block;
}
.circle-nav-item-child-item a {
	position: absolute;
	width:160px;
	height:160px;
	padding: 10px;
	border-radius: 50%;
	background:white;
	box-shadow: 0 2px 8px 2px #ccc;
	z-index: 1250;
	border:4px solid white;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.circle-nav-item-child-item a:hover {
	border:4px solid #4591B8;
	background-color: #DAF3FF;
	margin-bottom:5px;
	box-shadow: 0 2px 8px 2px #666;
	z-index: 5000;
	-webkit-transform: scale(.95) !important;
	transform: scale(.95) !important;
}
.hidden {
	display: none;
}
.circle-nav .circle-nav-item.background {
	opacity:.25 !important;
	z-index: 0;
}
.circle-nav .circle-nav-item.background:hover {
	opacity:.50 !important;
	z-index: 0;
}

.circle-nav .circle-nav-item img {
	max-width: 100px;
	padding-top:10px;
	padding-bottom: 4px;
}
.circle-nav .circle-nav-item:hover {
/*	border: 5px solid #4591B8;
	background: #C2EAFF;
*/
	text-decoration: underline;
}
.circle-nav .circle-nav-item.active:hover {
	text-decoration: none;
}
.circle-nav-item p {
    display: block;
    font-family: Helvetica;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin:0 auto;
	max-width: 130px;
}
.absolute-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin:0 auto;
}

.circle-nav-item[data-section="Sports"] .circle-nav-item-child-item img {
	padding-top:35px;
}

.sub-nav ul {
    margin: 0;
    list-style: none;
    text-align: center;
}

.sub-nav li {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}

.sub-nav a {
    font-family: Arial;
    font-size: 12px;
}
.row h3:before {
    display: block;
    height: 10px;
    margin-bottom: 10px;
    width: 140px;
    background-color: #111;
    left: 0;
    top: 0;
}
.barker {
	width:100%;
	text-align: left;
	margin-top:30px;
	min-height: 180px;
	padding:25px;
	position: relative;
    display: block;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    }
.barker-blog {
	font-family: "Belizio",Georgia,serif;
	text-align: center;

}
.left {
	text-align: left;
	box-shadow: inset 0 0 0 1000px rgba(51,51,51,.76);
}
.barker.left:before {
    position: absolute;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    outline: 0;
    height: 10px;
    width: 0;
    background-color: transparent;
    margin: 0;
    top: 0;
    content: '';
    z-index: 2;
}
.barker h1, .barker h2 {
	color:white;
	font-family: 'LA Web Display Kis Bold',Georgia,serif;
}
.barker.left {
	text-align: left;
}
.barker.blog {
	text-align: center;
}
.barker h1 {
    font-size: 30px;
    line-height: 30px;
}
.barker.left h1 {
    text-align: left;
}

.barker.left h2 {
    max-width:500px;

}
.barker h2 {
    font-size: 24px;
    line-height: 28px;
}
.barker.blog h1 {
	margin-top:20px;
	font-family: "Belizio",Georgia,serif;
	font-size: 45px;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 4.2px;
}

a.barker:hover * {
    color: #CCC;
    cursor: pointer;
}
footer {
    position: static;
	margin: 0; 
	padding: 0; 
    bottom: 0;
}
@media screen and (max-width: 820px) {
	.circle-nav-logo {
		display: none !important;
	}
	.circle-nav {
		height: auto;
	}
    .circle-nav .circle-nav-item {
    	width:100%;
    	position: relative;
    	opacity: 1;
    	height: auto;
    }
    .circle-nav .circle-nav-item .close {
    	opacity: 1;
    }
    .circle-nav .circle-nav-item .close:hover {
    	opacity: .5;
    }
	li.circle-nav-item-child-item a {
		height: auto;
		position: static;
		float: none;
		top: auto;
		left: auto;
		width: 100%;
		border: 4px solid white;
		border-radius: 0;
		box-shadow: none;
		background-color: white;
		box-sizing: border-box;	
	}

	.absolute-container {
	    position: static;
	    width: 100%;
	    height: auto;
	}

	li.circle-nav-item-child-item {}

}
